.Inicio:after {
	display: table;
	clear: both;
}

.Menu{
	background-color: #212529;
	height: 50vh;
	float: left;
  width: 15%;
}

.Menu .BotonDeSecuencia{
	padding-top: 2%;
	padding-left: 2%;
}

.Datos {
	float: left;
	width: 85%;
}

.Datos .Imagen {
	background-image: url("../ImgCanvas.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;	
	height: 500px;
	display: flex;
  align-items: center;
  justify-content: center;
}

.Datos .Imagen .AutoGeneracion{
	font-size: 38px;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bd-violet-bg);
	--bs-tooltip-color: var(--bs-white);
}
