.Inicio:after {
	display: table;
	clear: both;
}

.Menu{
	background-color: #212529;
	height: 50vh;
	float: left;
  width: 15%;
}

.Menu .BotonDeSecuencia{
	padding-top: 2%;
	padding-left: 2%;
}

.Datos {
	float: left;
	width: 85%;
}

.Datos .AutoGneracion{
	position: absolute;
	font-size: 330%;
	top: 26%;
	left: 50%;
	transform: translate(-23%);
}

.Datos .Imagen img.ImagenADN {
	height: 500px;
	width: 100%;
}

.Datos .TablaA{
	height: 50vh;
	float: left;
  width: 100%;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.custom-tooltip {
	--bs-tooltip-bg: var(--bd-violet-bg);
	--bs-tooltip-color: var(--bs-white);
}
